#MessageSet {
    flex-grow: 1;
    background-color: lightgray;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#MessageSection {
    flex-grow: 1;
    height: 88%;
    background-color: rgb(184, 184, 184);
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
}

#ChatTextbox {
    flex-grow: 0;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: #ffffff;
}

#MessageBox {
    width: 88%;
    height: 70%;
    margin-right: 8px;
}

#SendButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    background-color: rgba(0, 207, 0, 1);
}

#SendButton {
    height: 20px;
    margin-left: 3px;
}

#SendButtonDiv:hover {
    cursor: pointer;
}

.ReceivedMessage {
    display: flex;
    justify-content: left;
}

.SentMessage {
    display: flex;
    justify-content: right;
}

.RMessage {
    text-align: left;
    background-color: rgb(103, 255, 103);
    display: inline-block;
    max-width: 60%;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.SMessage {
    text-align: right;
    background-color: rgb(139, 139, 139);
    display: inline-block;
    max-width: 60%;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

#ChatPFPIMG {
    height: 35px;
    width: 37px;
    border: 1px solid none;
    border-radius: 50%;
}

.ChatPFPIMGDiv {
    display: flex;
    align-items: center;
}

.ChatPFPIMGDiv_none {
    display: none;
}

#MessageSection::-webkit-scrollbar {
    width: 0px;
}

#MessageSection::-webkit-scrollbar-thumb {
    background: transparent;
}

#TempLogoDiv {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
